<div class="container">
  <section>
    <div class="d-flex justify-content-between">
      <h4>Sección Vocabulary</h4>
      <a routerLink="/vocabulary/create" class="fas fa-warehouse ml-2"></a>
    </div>
    <br>
    <table class="table ">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>PREGUNTA</th>
        <th>COMPLEMENTO</th>
        <th width="130px">RESPUESTA A</th>
        <th width="130px">RESPUESTA B</th>
        <th width="130px">RESPUESTA C</th>
        <th width="100px">MODIFICAR</th>
      </tr>
    </thead>
      <tr *ngFor="let vocab of vocabs">
        <td>{{ vocab.id }}</td>
        <td>{{ vocab.pregunta }}</td>
        <td>{{ vocab.complemento }}</td>
        <td class="text-success">{{ vocab.respuestaA }}</td>
        <td>{{ vocab.respuestaB }}</td>
        <td>{{ vocab.respuestaC }}</td>
        <td>
          <a href="#" [routerLink]="['/vocabulary/', 'edit', vocab.id  ]" class="fas fa-chalkboard ml-2"></a>
          <a (click)="deleteVocab(vocab.id)" class="fas fa-trash ml-2"></a>
        </td>
      </tr>
    </table>

  </section>
  </div>
