<!-- Contenedor de barra lateral principal -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Logotipo -->
  <a href="/principal/index.html" class="brand-link">
    <img src="./assets/dist/img/lo1.png"
         alt="Tuut Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">TUUT</span>
  </a>

  <!-- barra lateral -->
  <div class="sidebar">
    <!-- barra lateral user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="./assets/dist/img/Wauifu.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Usuario</a>
      </div>
    </div>

    <!-- Menú de la barra lateral Modulo 1-->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Agregar iconos a los vínculos mediante la clase.nav-icon
          con font-awesome o cualquier otra biblioteca de fuentes de iconos -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users ml-2"></i>
            <p >
              Docentes
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../principal/index2" class="nav-link">
                <i class="fas fa-book ml-2"></i>
                <p class ="ml-2">Agregar Contenido</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../principal/index3" class="nav-link">
            <i class="fas fa-list-alt ml-2"></i>
                <p class ="ml-2">Ver el Contenido</p>
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.Menú de la barra lateral Modulo 2 -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Agregar iconos a los vínculos mediante la clase.nav-icon
          con font-awesome o cualquier otra biblioteca de fuentes de iconos -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fas fa-user ml-2"></i>
            <p class ="ml-2">
              Alumno
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../practica/index" class="nav-link">
                <i class="fas fa-laptop ml-2"></i>
                <p class ="ml-2">Practica</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="../evaluacion/index" class="nav-link">

                <i class="fas fa-laptop-code ml-2"></i>
                <p class ="ml-2">Evaluación</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>
  <!-- /.barra lateral -->
</aside>
